
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>German Resources</title>
</head>
<body>
<h1>Deutsche Ressourcen</h1>
<ul>
<li><a href="https://www.duolingo.com/course/de/en">Duolingo</a></li>
<li><a href="https://www.babbel.com/learn-german">Babbel</a></li>
<li><a href="https://www.germanpod101.com/">GermanPod101</a></li>
<li><a href="https://www.dw.com/de/deutsch-lernen/s-9094">Deutsche Welle</a></li>
<li><a href="https://www.goethe.de/de/spr/ueb.html">Goethe-Institut</a></li>
</ul>
</body>
</html>
